%font-SegoeUI-Bold {
  font-family: SegoeUI-Bold, Verdana, sans-serif;
  font-weight: 700;
  font-style: normal;
}
%font-SegoeUI-SemiBold {
  font-family: SegoeUI-Bold, Verdana, sans-serif;
  font-weight: 600;
  font-style: normal;
}
%font-SegoeUI-Regular {
  font-family: SegoeUI-Bold, Verdana, sans-serif;
  font-weight: 400;
  font-style: normal;
}
%font-SegoeUI-Regular {
  font-family: SegoeUI-Light, Verdana, sans-serif;
  font-weight: 300;
  font-style: normal;
}
%transition {
  transition: all 0.4s ease-out;
}
