$color-accent: #cb11ab;
$color-btn-hover: #e81fc7;
$color-violet: #6725a8;
$color-red: #ff3b30;
$color-orange: #f55123;
$color-deep-orange: #ff970d;
$color-green: #0cb477;
$color-black: #000;
$color-white: #fff;
$color-background-page: #f6f6fa;
$color-smoky-dark: #f0ecf4;
$color-smoky: #9b9b9b;
$color-gray: #9797af;
$color-border-accordion: #0000001a;
$color-checkbox-border: #0003;
$color-checkbox-border-hover: #98989c;
$color-white-transparent-45: rgb(255 255 255 / 45%);
$color-white-transparent-20: rgb(255 255 255 / 20%);
$color-accept-transparent-20: rgb(203 17 171 / 20%);
$color-green-transparent-20: rgb(12 180 119 / 20%);
$color-black-transparent-20: rgb(0 0 51 / 20%);
$color-background-conditions: rgb(246 246 250 / 100%);
$color-background-modal: rgb(5 0 10 / 30%);
$color-border-button-delivery: rgba(203 17 171 / 15%);
$color-text: rgb(0 0 0 / 100%);
$color-oferta-link: rgb(0 0 0 / 10%);
$desktop-width: 1400px;
$laptop-width: 1024px;
$tablet-width: 780px;
$mobile-width: 320px;
