$color-accent: #cb11ab;
$color-background-page: #e3e3e3;
$color-black: #000;
$color-green: #0cb477;
$color-smoky-dark: #f0ecf4;
$color-white: #fff;
$color-violet: #6725a8;
$color-gray: #9797af;
$color-red: #ff3b30;
$color-orange: #f55123;
$color-deep-orange: #ff970d;
$color-white-transparent-45: rgb(255 255 255 / 45%);
$color-white-transparent-20: rgb(255 255 255 / 20%);

// $color-smoky: #9b9b9b;
$desktop-width: 1400px;
$laptop-width: 1024px;
$tablet-width: 780px;
$mobile-width: 320px;
