@font-face {
  font-family: 'SegoeUI-Bold';
  src: url('/src/assets/fonts/SegoeUI/SegoeUI-Bold.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'SegoeUI-SemiBold';
  src: url('/src/assets/fonts/SegoeUI/SegoeUI-SemiBold.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'SegoeUI-Regular';
  src: url('/src/assets/fonts/SegoeUI/SegoeUI-Regular.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'SegoeUI-Light';
  src: url('/src/assets/fonts/SegoeUI/SegoeUI-Light.woff2') format('woff2');
  font-display: swap;
}

html {
  scroll-behavior: smooth;
  background-color: $color-violet;
}

body {
  @extend %font-SegoeUI-Regular;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
