.container-content {
  max-width: $desktop-width;
  margin: 0 auto;
  padding: 20px 24px;

  @media (max-width: $mobile-width) {
    padding: 15px 16px;
  }
}

.container-footer {
  max-width: $desktop-width;
  margin: 0 auto;
  padding: 24px;

  @media (max-width: $mobile-width) {
    padding: 24px;
  }
}
