.footer {
  height: 64px;
  padding: 24px;
  background-color: $color-violet;
  display: flex;
  align-items: center;
}

.footer__copyright {
  color: rgba(255, 255, 255, 0.7);
  @include font(13px, 16px);
  text-align: center;
  margin: 0 auto;
}
