.footer {
  height: 64px;
  padding: 24px;
  background-color: $color-violet;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__copyright {
  color: rgb(255 255 255 / 70%);

  @include font(13px, 16px);

  text-align: center;
  margin: 0 auto;
  height: 65px;
}
