.delivery-modal-form {
  width: 500px;
  height: 408px;

  @media (width >= 250px) and (width <= 500px) {
    width: 300px;
    height: auto;
  }
}
.delivery-modal__methods-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  width: 456px;
  @media (width >= 250px) and (width <= 500px) {
    flex-direction: column;
    width: 250px;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
  }
}
.delivery-method-button {
  @include font(13px, 16px, 700);
  @extend %font-segoe-bold;

  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid $color-border-button-delivery;
  width: 224px;
  height: 36px;
  padding: 0 0 2px;
  border-radius: 24px;
  text-align: center;

  @extend %transition;

  cursor: pointer;
  &:hover {
    background-color: $color-border-button-delivery;
  }

  @media (width >= 250px) and (width <= 500px) {
    width: 150px;
    height: 36px;
  }
}
.delivery-method-button.current-delivery-method {
  border: 2px solid $color-accent;
}
.delivery-modal__address-title {
  @include font(13px, 16px, 700);
  @extend %font-segoe-bold;

  text-align: left;

  @media (width >= 250px) and (width <= 560px) {
    text-align: center;
  }
}
.delivery-modal__addresses-wrapper {
  height: 163px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (width >= 250px) and (width <= 560px) {
    height: auto;
  }
}
.delivery-modal__address-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}
.delivery-modal__address-text {
  max-width: 371px;

  @include font(16px, 24px);

  @media (width >= 250px) and (width <= 560px) {
    @include font(14px, 20px);
    max-width: 190px;
  }
}
.delivery-modal__delete-icon {
  margin-left: auto;
  background-image: url('/src/assets/svg/modal/delete-address-icon.svg');
  &:hover {
    background-image: url('/src/assets/svg/card/icon-delete-hover.svg');
  }
}
.delivery-modal__addresses-wrapper.courier,
.delivery-modal__addresses-wrapper.pickup {
  display: none;
  overflow: auto;

  @media (width >= 250px) and (width <= 560px) {
    overflow: visible;
  }
}
.delivery-modal__addresses-wrapper.courier.open,
.delivery-modal__addresses-wrapper.pickup.open {
  display: block;
  margin-top: 12px;
}
.data-wrapper-pickup {
  display: flex;
}
.delivery-modal__address__data__wrap {
  display: flex;
  flex-direction: column;
}
.grade-wrap {
  display: flex;
  align-items: center;
}
.address__pickup-text {
  @include font(13px, 16px);

  color: #a0a0a4;
}
.delivery-modal__address-wrapper.pickup-wrap-data {
  display: block !important;
}
.overflow-hidden {
  overflow: hidden;
}
.delivery-modal__address__data__wrapper {
  cursor: pointer;
  display: flex;
}
