.form {
  padding: 16px 24px 20px;
  background-color: $color-white;
  border-radius: 16px;
  margin-bottom: 16px;

  @media (width >= 1000px) and (width <= 1100px) {
    margin-bottom: 13px;
    padding: 16px 26px 24px 24px;
  }

  @media (width >= 250px) and (width <= 560px) {
    padding: 16px 16px 24px;
    margin-bottom: 12px;
    position: relative;

    @media (width >= 250px) and (width <= 350px) {
      right: 15px;
      width: 320px;
    }
  }
}
.form__title {
  @include font(24px, 32px, 700, -0.01px);
  @extend %font-segoe-bold;

  padding-bottom: 0;

  @media (width >= 250px) and (width <= 560px) {
    @include font(20px, 28px, 700, -0.1px);
  }
}
.delivery__header {
  @extend %flex-row-space-between;

  margin-bottom: 16px;

  @media (width >= 250px) and (width <= 560px) {
    margin-bottom: 8px;
  }
}
.delivery__table {
  display: flex;
  flex-direction: column;
}
.address__grade__star {
  @include background-icon(12px, 12px);

  background-image: url('/src/assets/svg/delivery/star.svg');
  position: relative;
  top: 2px;
  left: 2px;
  display: inline-block;
  margin-right: 4px;

  @media (width >= 250px) and (width <= 560px) {
    margin-right: 0;
  }
}
.address__grade {
  display: inline-block;
  vertical-align: top;
}
.delivery__address__wrapper,
.delivery__cost__wrapper {
  padding-bottom: 16px;
  display: flex;
  align-items: center;
  list-style-type: none;

  @media (width >= 250px) and (width <= 560px) {
    align-items: flex-start;
    flex-direction: column;
    padding-bottom: 19px;
  }
}
.delivery__date__photos__wrapper {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  align-items: center;

  @media (width >= 250px) and (width <= 560px) {
    margin-top: 12px;
  }
}
.delivery__date__photo {
  position: relative;
  list-style-type: none;
  display: inline-block;
  width: 40px;
  height: 56px;
  background-repeat: no-repeat;
  margin-right: 8px;
}
.delivery__table__item,
.delivery__date__item {
  @include font(16px, 24px, 400);

  @media (width >= 250px) and (width <= 560px) {
    align-items: flex-start;
    flex-direction: column;
  }
}
.delivery__table__item {
  width: 153px;
  white-space: nowrap;
  display: flex;
  align-self: flex-start;
  margin-right: 32px;
}
.table-item-font {
  @extend %font-segoe-semibold;
  @include font(16px, 24px, 600);
}
.delivery__date__item {
  display: flex;
  margin-bottom: 16px;
  height: 56px;

  @media (width >= 250px) and (width <= 560px) {
    margin-bottom: 24px;
    height: auto;
  }
}
.address__data__wrapper {
  display: flex;
  flex-flow: row wrap;
}
.address__grade,
.address__office-hours {
  @include font(13px, 16px, 400);

  margin-right: 8px;
  margin-left: 4px;

  @media (width >= 250px) and (width <= 560px) {
    margin-left: 2px;
  }
}
.delivery__conditions__wrapper {
  padding-top: 12px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;

  @media (width >= 1000px) and (width <= 1100px) {
    padding-top: 8px;
  }

  @media (width >= 250px) and (width <= 560px) {
    padding-top: 0;
  }
}
.conditions__icon {
  @include background-icon(23px, 22px);

  @media (width >= 1000px) and (width <= 1100px) {
    @include background-icon(37px, 22px);
  }

  background-image: url('/src/assets/svg/delivery/shipping.svg');
  position: relative;
  display: block;
  margin-right: 8px;

  @media (width >= 250px) and (width <= 560px) {
    margin-right: 8px;
  }
}
.conditions__icon-delivery {
  @media (width >= 1000px) and (width <= 1100px) {
    @include background-icon(22px, 22px);
  }
}
.conditions__text {
  @include font(13px, 16px, 400);
}
.conditions__link {
  color: $color-green;
  text-decoration: none;
  border-bottom: 1px dashed $color-green-transparent-20;
}
.delivery__address__data .delivery-current-address {
  flex-basis: 100%;
  margin-bottom: 4px;
}
.delivery-icon__count,
.cart-notification {
  padding: 6px;
  position: absolute;
  height: 16px;
  top: -4px;
  left: 26px;
  background-color: $color-orange;
  color: $color-white;
  font-size: 10px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

  @media (width >= 320px) and (width <= 560px) {
    top: -8px;
    left: 21px;
  }
}
.cart-notification {
  @include font(10px, 18px, 700);

  height: 15px;
  top: -6px;
  left: 19px;

  @extend %font-segoe-bold;

  padding-bottom: 6px;
}
.delivery__address__data.delivery-current-address {
  flex-basis: 100%;
  margin-bottom: 8px;

  @media (width >= 320px) and (width <= 560px) {
    line-height: 24px;
    margin-bottom: 2px;
  }
}
