.form {
  padding: 16px 24px 24px;
  background-color: $color-white;
  border-radius: 16px;
  margin-bottom: 16px;
}
.form__title {
  @include font(24px, 32px, 700, -0.01px);
  @extend %font-segoe-bold;

  margin-bottom: 16px;
}
.delivery__header {
  @extend %flex-row-space-between;
}
.delivery__table {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}
.address__grade__star {
  @include background-icon(12px, 12px);

  background-image: url('/src/assets/svg/delivery/star.svg');
  position: relative;
  top: 2px;
  left: 2px;
  display: inline-block;
  margin-right: 4px;
}
.address__grade {
  display: inline-block;
  vertical-align: top;
}
.delivery__address__wrapper,
.delivery__cost__wrapper,
.delivery__date__photos__wrapper {
  display: flex;
  gap: 8px;
}
.delivery__table__item,
.delivery__date__item {
  @include font(13px, 24px, 600, 0.1px);
  @extend %font-segoe-semibold;

  font-family: SegoeUI-SemiBold, Geneva, Verdana, Arial, sans-serif;
  width: 176px;
  margin-bottom: 20px;
  white-space: nowrap;
  display: flex;
}
.address__data__wrapper {
  display: flex;
  flex-flow: row wrap;
  width: 350px;
}
.address__grade,
.address__office-hours {
  @include font(13px, 16px, 400);

  margin-right: 8px;
  margin-left: 4px;
}
.delivery__address__wrapper {
  margin-bottom: 16px;
}
.delivery__conditions__wrapper {
  max-width: 375px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.conditions__icon {
  @include background-icon(23px, 22px);

  background-image: url('/src/assets/svg/delivery/shipping.svg');
  position: relative;
  display: block;
  margin-right: 8px;
}
.conditions__text {
  @include font(13px, 16px, 400, -0.06em);
}
.conditions__link {
  color: $color-green;
  text-decoration: none;
  border-bottom: 1px dashed $color-green-transparent-20;
}
.delivery__address__data .delivery-current-address {
  flex-basis: 100%;
}
