.form-row {
  display: flex;
  justify-content: space-between;
  max-width: 700px;
  height: 64px;
  gap: 24px;
  padding-top: 16px;

  @media (width >= 250px) and (width <= 560px) {
    flex-direction: column;
    gap: 0;
    height: auto;
    margin-top: 5px;
    padding-top: 0;
  }
}
.form-group {
  flex: 1;
  margin-right: 24px;

  @media (width >= 250px) and (width <= 560px) {
    margin-right: 0;
  }
}
.label {
  position: relative;
  left: 0;
  bottom: 25px;
  color: $color-gray;
  pointer-events: none;

  @include font(16px, 24px);
  @extend %transition;
}
.input-field {
  width: 100%;
  border: none;
  border-bottom: 1px solid $color-gray;
  background: transparent;
  margin-top: 18px;

  @include font(16px, 24px);
}
.input-field:focus {
  outline: none;
  border-color: none;
}
.input-field.error {
  color: $color-orange;
  border-bottom: 1px solid $color-orange;
}
.up-label {
  @include font(13px, 16px);

  bottom: 47px;
}
.note-description {
  position: relative;
  display: block;
  bottom: 20px;

  @include font(12px, 14px);
}
.error-message {
  position: relative;

  @include font(12px, 14px);

  bottom: 20px;
  color: $color-orange;
}
.hidden {
  display: none;
}
.input-field:focus + .label {
  @include font(13px, 16px);

  bottom: 47px;
}
.form.user__form {
  padding-bottom: 40px;

  @media (width >= 250px) and (width <= 560px) {
    min-height: 420px;
    padding-bottom: 0;
  }
}
