.form-row {
  display: flex;
  justify-content: space-between;
  max-width: 700px;
  gap: 24px;
}
.form-group {
  flex: 1;
  margin-right: 24px;
}
.input-container {
  height: 64px;
}
.label {
  position: relative;
  left: 0;
  bottom: 25px;
  color: $color-gray;
  pointer-events: none;
  @include font(16px, 24px);
  @extend %transition;
}

.input-field {
  width: 100%;
  border: none;
  border-bottom: 1px solid $color-gray;
  background: transparent;
  margin-top: 18px;
  @include font(16px, 24px);
}
.input-field:focus {
  outline: none;
  border-color: none;
}
.input-field.error {
  color: $color-orange;
  border-bottom: 1px solid $color-orange;
}

.up-label {
  @include font(13px, 16px);
  bottom: 40px;
}
.note-description {
  position: relative;
  @include font(12px, 14px);
  display: block;
  bottom: 20px;
}
.error-message {
  position: relative;
  @include font(12px, 14px);
  bottom: 20px;
  color: $color-orange;
}
.hidden {
  display: none;
}
.input-field:focus + .label {
  @include font(13px, 16px);
  bottom: 40px;
}
