.form-row {
  display: flex;
  justify-content: space-between;
  max-width: 725px;
}

.form-group {
  flex: 1;
  margin-right: 24px;
}

.input-container {
  position: relative;
}

.label {
  position: absolute;
  left: 0;
  @include font(16px, 24px);
  color: $color-gray;
  pointer-events: none;
  @extend %transition;
  bottom: 20px;
}

.input-field {
  width: 100%;
  border: none;
  border-bottom: 1px solid $color-gray;
  @include font(16px, 24px);
  background: transparent;
  margin-bottom: 19px;
  margin-top: 18px;
}

.input-field:focus {
  outline: none;
  border-color: none;
}

.input-field .error {
  color: $color-orange;
  border-bottom: 1px solid $color-orange;
}

.up-label {
  bottom: 50px;
  @include font(13px, 16px);
}

.note-description {
  @include font(12px, 14px);
  display: block;
  margin-top: -15px;
}

.error-message {
  @include font(12px, 14px);
  margin-top: 4px;
  color: $color-orange;
}
.hidden {
  display: none;
}

.input-field:focus + .label {
  bottom: 50px;
  @include font(13px, 16px);
}
